config:
  namespace: argocd

argo-cd:
  configs:
    styles: |
      .sidebar {
        background: linear-gradient(0deg, rgba(15,39,51,1) 0%, rgba(15,39,51,1) 80%, rgba(65,255,0,1) 100%);
      }
    params:
      server.insecure: true
    timeout:
      reconciliation: 10s
    repositories:
      #app-configs:
        #url: https://github.com/shuffleSoftware/app-configs
      cluster-addons:
        url: https://github.com/shuffleSoftware/cluster-addons
  server:
    deploymentAnnotations: {}
    ingress:
      enabled: true
      hostname: "argocd-dev.homelab.com"
      ingressClassName: "nginx"
    config:
      admin.enabled: "true"
      statusbadge.enabled: "true"
      users.anonymous.enabled: "true"
